<!-- Footer Start -->
<footer class="footer-div container-fluid ps-5 pt-5 pe-5 text-center bg-light border-top border-2 align-items-center">
  <!-- Footer Logo Side Start -->
  <div class="row text-center align-items-center">
    <div class="footerlogo-div justify-content-center align-items-center text-center pb-5 col-md-12 col-lg-2 col-xl-2">
      <div class="position-absolute footerlogo-text">
        <div class="col-12 col-md-auto d-flex">
          <h1 class="nonstop-text">NONSTOP</h1>
        </div>
        <div class="col-12 col-md-auto d-flex">
          <h4 class="fashion-text">FASHION</h4>
        </div>
      </div>
      <br>
      <div class="pt-5 text-center">
        <div class="pt-5 mt-5 securepayments-div text-center text-nowrap">
          <span><i class="bi bi-shield-lock-fill position-relative"></i></span>
          <p class="securepayments-text fw-bold">100% SECURE PAYMENTS BY</p>
          <br>
        </div>
        <img class="securepaymentsimg-div ms-4" src="/assets/payments-ad/footer-payment.png" style="display: inline-block; margin: 0 auto;">
      </div>
      
    </div>
    <!-- Footer Logo Side End -->
    <!-- Social icons Start -->
    <div class="text-center align-items-center row justify-content-center">
      <label for="email-input" class="form-label fw-bold fs-6 pb-2 text-nowrap findus-text">Find us on social</label>
      <div class="socialimagemain-div d-flex pb-2 pt-2 position-relative col-12 col-md-12 col-lg-2 col-xl-2">
        <div class="background-div">
          <a href="https://www.facebook.com/Spotify" target="_blank"><img
              src="/assets/socialicons-images/glob-facebook.svg" alt="" class="socialicon-img"></a>
        </div>
        <div class="background-div">
          <a href="https://twitter.com/spotify" target="_blank"><img src="/assets/socialicons-images/glob-twitter.svg"
              class="socialicon-img"></a>
        </div>
        <div class="background-div">
          <a href="https://www.facebook.com/Spotify" target="_blank"><img
              src="/assets/socialicons-images/Threads_(app)_logo.svg.png" alt="" class="socialicon-img"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Social icon End -->
  <hr>
  <!-- Unwanted If needed uncomment and use Start -->
  <!-- <div class="country-div w-100 col-12 col-md-12 d-flex justify-content-end">
          <i class="bi bi-globe-asia-australia"></i><span><a href="" class=""><p class="country-text">India (English)</p></a></span>
        </div> -->
  <!-- Footer Copyright Section Start -->
  <div class="footerlastsection-div w-100 col-12 col-md-12">
    <div class="row text-nowrap">
      <div class="copyright-div d-flex justify-content-center">
        <span><a href="" class="copyright-text text-decoration-none">
            <p>&copy;
              <script>document.write(new Date().getFullYear());</script> Nonstop Fashion & Lifestyle
            </p>
          </a></span>
      </div>
      <div class="copyright-div d-flex justify-content-center">
        <p class="copyright-text">All Rights Reserved</p>
      </div>
    </div>
  </div>
  <!-- Footer Copyright Section Start -->
</footer>
<!-- Footer End -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
  integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>