<!-- Sidebar Start -->
<div class="">
    <div class="row flex-nowrap d-flex w-100">
        <div class="col-auto col-md-3 col-xl-2 ps-4 border-end border-2 pt-5">
            <div class="d-flex flex-column align-items-center align-items-sm-start  pt-2 text-white min-vh-100">
                <ul class="ps-3 pe-3 nav nav-pills w-100 flex-column mb-sm-auto text-decoration-none mb-0 text-nowrap"
                    id="menu">
                    <div class="w-100 pt-5 pb-5">
                        <li class="pb-3">
                            <a href="/admin/dashboard"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Dashboard') { %> active bg-secondary <% } %>">
                                <i class="fs-4 bi-speedometer2 sidebar-items"></i> <span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold">Dashboard</span>
                            </a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/users"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Users') { %> active bg-secondary <% } %>">
                                <i class="fs-4 bi bi-people sidebar-items"></i><span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Users</span></a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/products"
                                class="nav-link px-0 align-middle ps-2 pe-2<% if (page == 'Products') { %> active bg-secondary <% } %>">
                                <i class="fs-4 bi bi-ui-checks-grid sidebar-items "></i><span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Products</span> </a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/categories"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Categories') { %> active bg-secondary <% } %>">
                                <i class="fs-4 bi bi-grid sidebar-items "></i><span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Categories</span> </a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/banners"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Banners') { %> active bg-secondary <% } %>">
                                <i class="fs-4 bi bi-badge-ad-fill sidebar-items "></i><span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Banners</span> </a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/offers"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Offers') { %> active bg-secondary <% } %>">
                                <i class="bi bi-percent sidebar-items"></i> <span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Offers</span>
                            </a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/coupons"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Coupons') { %> active bg-secondary <% } %>">
                                <iconify-icon icon="mdi:ticket-percent-outline"
                                    class=" sidebar-items fs-4 icon-and-text"></iconify-icon><span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Coupons</span> </a>
                        </li>
                        <li class="pb-3">
                            <a href="/admin/orders"
                                class="nav-link px-0 align-middle ps-2 <% if (page == 'Orders') { %> active bg-secondary <% } %>">
                                <i class="fs-4 bi bi-card-checklist sidebar-items"></i><span
                                    class="ms-1 d-none d-sm-inline sidebar-items fw-bold"> Orders</span></a>
                        </li>
                    </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>